html {
    background: #2e3030;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #61686F;
    margin: 0;
    padding: 0;
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }
  
  h1, h4 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 48px;
  }

  h2 {
    font-family: 'JetBrains Mono', monospace;
    color: #9199A0;
    font-size: 48px;
  }

  h3 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 42px;
  }
  
  .tiny {
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
    font-size: 16px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #577474;
  }
  
  .tech-stack {
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 12px;
    max-width: 750px;
    background: none;
    backdrop-filter: none;
    box-shadow: none;
  }

  .tailwind-override * {
    all: unset;
    all: revert;
  }  

  .stack-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1.5rem;
      justify-items: center;
      width: 100%;
  }

  .stack-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: transform 0.3s ease;
  }

  .stack-item:hover {
      transform: translateY(-5px);
  }

  .stack-item img {
      width: 50px;
      height: 50px;
      margin-bottom: 0.5rem;
      filter: grayscale(20%) brightness(0.9);
      transition: all 0.3s ease;
  }

  .stack-item:hover img {
      filter: grayscale(0%) brightness(1.1);
  }

  .stack-item span {
      font-family: 'Geist Sans', sans-serif;
      font-weight: 500;
      color: #9199A0;
      font-size: 0.9rem;
      text-align: center;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1E1F22;
    text-align: center;
    font-family: 'Geist Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1em;
    color: #9199A0;
    padding: 15px 0;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity .5s ease, transform .5s ease;
  }
  
  .header.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .content {
    margin-top: 70px;
    text-align: center;
  }
  
  section {
    padding: 50px 20px;
    margin: 50px 0;
  }
  
  .container {
    max-width: 1600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .container2 {
    max-width: 1600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container3 {
    color: #fff;
    max-width: 1600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .project {
    margin: 20px 0;
    padding: 15px;
    border-radius: 0;
  }
  
  .fixed-image {
    width: 1200px;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fixed-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .container2 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .image-container {
      width: 100%;
      text-align: center;
      justify-content: center;
      margin-top: 10px;
    }
  
    .fixed-image {
      width: 100%;
      height: auto;
    }
  
    .fixed-image img {
      width: 100%;
      height: auto;
    }
  }
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }